Table{
  text-align: center;
  table-layout: fixed;
  width: 100%
}
Table td:hover{
  background: rgb(219, 230, 74);
}

.background{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: auto;
  min-height: 100vh;
  width: auto;
  /* background: -moz-linear-gradient(45deg, rgba(246, 246, 252, 0.69), rgba(248, 248, 250, 0.6) 100%);
  background: -webkit-linear-gradient(45deg, rgba(173, 173, 196, 0.69), rgba(163, 186, 236, 0.6) 100%);
  background: linear-gradient(45deg, rgba(173, 173, 196, 0.69), rgba(163, 186, 236, 0.6) 100%); */
  background: rgb(192, 192, 167);
}

.current-day{
  background-color: rgb(116, 157, 233);
  border-radius: 5%;
  color: white;
}

.available{
  background-color: rgb(115, 145, 209);
}

.unavailable{
  background-color: rgb(61, 48, 48);
  color: white;
}

.client-unavailable{
  background-color: rgb(61, 48, 48);
  color: white;
}
.client-unavailable:hover{
  cursor: no-drop;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
  cursor: pointer;
}

